<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/carreras.css">
     <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">
     <title>Servicios educativos</title>
</head>

<body>

     <!-- MENU PRINCIPAL -->
     <div class="menu-principal">

          <div class="logo" id="logo">
               <img src="../img/logo3.png" alt="Logo">
          </div>

          <div class="menu-bar" id="menuBar">

               <i class="fas fa-angle-right" id="btnMenuClose"></i>

               <nav class="enlaces" id="enlaces">
                    <ul>
                         <li><a href="Carreras.html">SERVICIOS EDUCATIVOS</a></li>
                         <li><a href="QuieneSomos.html">Nosotros</a></li>
                         <li><a href="Formulario.html">Contacto</a></li>
                    </ul>
               </nav>

               <div class="sociales">
                    <a href="https://www.facebook.com/preparatoriaipicoficial" target="_blank"><span class="fab fa-facebook"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.youtube.com/channel/UCCX8ougHeKPwSP4oma9WXpQ" target="_blank"><span class="fab fa-youtube"></span></a>
               </div>
          </div>

          <i class="fas fa-bars" id="btnMenuOpen"></i>

     </div>

     <main>

     <article id="container6">
          <h2>¡Especialidades disponibles 😁!</h2>
          <p>El conocimiento siempre está cambiando. Lo que permanece constante son las ganas de aprender. Aprovecha y aprende algo nuevo hoy!</p>
     </article>

     <article id="container7">
          <section class="cards-especialidades">
               <img src="../img/COMPUTACION/computacion1.jpg" alt="computacion-image">
               <div class="especialidad-info">
                   <h2>Computación 💻</h2>
                   <h3>Bachillerato</h3>
                   <p>Ideal para todo tipo de personas que deseen aprender sobre el mundo de la informatica, aprenderás a realizar todo tipo de medios publicitarios como: carteles, volantes, revistas, periódicos, edición de videos, hasta crear sitios web profesionales</p>
                   <a href="Computacion.html">+ Horarios y otros detalles de la especialidad</a> 
               </div>
          </section>

          <section class="cards-especialidades">
               <img src="../img/ejecutivo.jpg" alt="ejecutivo-image">
               <div class="especialidad-info">
                    <h2>Ejecutivo bilingue 📝</h2>
                    <h3>Bachillerato</h3>
                    <p>Para quienes desean ser asistentes administrativos, asistentes ejecutivos, profesionales administrativos, secretarias ejecutivas, coordinadoras y todos los que deseen conocer las habilidades de toma de decisiones en una empresa.</p>
                    <a href="Secretariado.Html">+ Horarios y otros detalles de la especialidad</a> 
                </div>
          </section>
     </article>

     </main>

     <!--- SECCION FOOTER -->
     <footer>
          <div class="sociales-metodo">
               <i class="fas fa-map-marker-alt"></i>
               <span>Av. Juárez Ote. No. 204 | San Juan del Río</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-envelope"></i>
               <span>contacto@ipic.com.mx</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-phone"></i>
               <span>427 272 3367</span>
          </div>

          <div class="sociales-metodo">
               <i class="fab fa-facebook-f"></i>
               <span>@preparatoriaipicoficia</span>
          </div>
     </footer>


     <script src="../js/app.js"></script>
     <script src="https://kit.fontawesome.com/8023a51753.js" crossorigin="anonymous"></script>



</body>

</html>