<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/eventos.css">
     <link rel="shortcut icon" href="../img/logo.png">
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
     <title>EVENTOS</title>
</head>

<body>

     <!-- MENU PRINCIPAL -->
     <div class="menu-principal">

          <div class="logo" id="logo">
               <a href="Index.html"><img src="../img/logo3.png" alt="Logo"></a>
          </div>

          <div class="menu-bar" id="menuBar">

               <i class="fas fa-angle-right" id="btnMenuClose"></i>

               <nav class="enlaces" id="enlaces">
                    <ul>
                         <li><a href="Carreras.html">SERVICIOS EDUCATIVOS</a></li>
                         <li><a href="QuieneSomos.html">Nostros</a></li>
                         <li><a href="Formulario.html">Contacto</a></li>
                    </ul>
               </nav>

               <div class="sociales">
                    <a href="https://www.facebook.com/preparatoriaipicoficial" target="_blank"><span class="fab fa-facebook"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.youtube.com/channel/UCCX8ougHeKPwSP4oma9WXpQ" target="_blank"><span class="fab fa-youtube"></span></a>
               </div>
          </div>

          <i class="fas fa-bars" id="btnMenuOpen"></i>

     </div>
     <main>
          <section class="contenedor">
               <article class="elemento">
                    <h1>Eventos</h1>

                    <div class="PV">
                         <p>En el Instituto nos preocupamos porque los alumnos no sólo adquieran conocimientos
                              académicos,
                              sino también desarrollen otras habilidades a través de actividades culturales como son:
                              música,
                              danza y teatro. Así mismo, en forma continua efectuamos conferencias sobre temas de
                              interés,
                              foros en donde los
                              participantes aprenden, expresan y aclaran sus inquietudes. Concientes de la importancia
                              de los
                              eventos deportivos y de esparcimiento (que fomentan en el
                              individuo un equilibrio físico y psicológico, que le permite una interacción adecuada con
                              su
                              entorno social), el estudiante encuentra en el instituto éstas actividades, como formación
                              integral de su preparación.</p>

               </article>
          </section>
          <section id="carrocel1">
               <!-- Swiper -->
               <div class="netflix-slider">
                    <h2>CLAUSURA</h2>
                    <div class="swiper mySwiper">
                         <div class="swiper-wrapper">
                              <div class="swiper-slide"><img src="../img/CLAUSURA/1.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/2.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/3.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/4.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/5.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/6.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/7.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/8.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/11.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/13.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/14.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/15.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/16.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/17.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/18.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/19.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/20.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/21.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/22.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/23.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/24.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/25.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/26.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/27.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/28.jpg"></div>
                              <diV class="swiper-slide"><img src="../img/CLAUSURA/29.jpg"></diV>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/30.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/31.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/32.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/33.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/34.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/35.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/36.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/37.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/38.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/39.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/40.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/41.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/42.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CLAUSURA/43.jpg"></div>
                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                    </div>
               </div>

               <div class="netflix-slider">
                    <h2>CULTURA</h2>
                    <div class="swiper mySwiper">
                         <div class="swiper-wrapper">
                              <div class="swiper-slide"><img src="../img/CULTURALES/1.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/2.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/3.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/4.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/5.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/6.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/7.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/8.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/9.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/10.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/11.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/12.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/13.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/14.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/15.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/16.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/17.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/18.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/19.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/20.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/21.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/22.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/23.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/24.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/25.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/26.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/27.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/28.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/30.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/31.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/32.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/33.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/34.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/35.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/36.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/37.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/39.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/40.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/42.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/44.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/45.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/46.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/48.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/49.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/50.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/51.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/53.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/54.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/55.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/56.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/57.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/58.jpg"></div>
                              <div class="swiper-slide"><img src="../img/CULTURALES/59.jpg"></div>
                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                    </div>
               </div>

               <!-- Swiper -->
               <div class="netflix-slider">
                    <h2>DESFILE</h2>
                    <div class="swiper mySwiper">
                         <div class="swiper-wrapper">
                              <div class="swiper-slide"><img src="../img/DESFILE/1.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/2.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/3.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/5.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/6.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/7.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/8.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/9.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/10.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/11.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/12.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/14.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/15.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/16.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/17.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/18.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/19.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/20.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/21.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/22.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/23.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/25.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/26.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/27.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/28.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/29.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/30.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/31.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/32.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/33.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/35.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/36.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/37.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/38.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/39.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/40.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/41.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/42.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/43.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/44.jpg"></div>
                              <div class="swiper-slide"><img src="../img/DESFILE/45.jpg"></div>

                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                    </div>
               </div>


               <!-- Swiper -->
               <div class="netflix-slider">
                    <h2>INSTALACIONES</h2>
                    <div class="swiper mySwiper">
                         <div class="swiper-wrapper">
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/1.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/2.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/3.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/4.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/5.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/6.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/7.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/8.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/9.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/10.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/11.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/12.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/13.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/14.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/15.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/16.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/17.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/18.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/19.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/20.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/21.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/22.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/23.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/24.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/26.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/27.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/28.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/29.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/30.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/31.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/32.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/33.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/34.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/35.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/36.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/38.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/39.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/40.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/42.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/43.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/44.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/46.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/47.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/48.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/49.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/52.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/53.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/54.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/55.jpg"></div>
                              <div class="swiper-slide"><img src="../img/INSTALACIONES/56.jpg"></div>


                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                    </div>
               </div>

               <!-- Swiper -->
               <div class="netflix-slider">
                    <h2>MICRO-EMPRESAS</h2>
                    <div class="swiper mySwiper">
                         <div class="swiper-wrapper">
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/1.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/2.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/3.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/4.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/5.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/6.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/7.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/8.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/9.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/10.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/11.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/12.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/13.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/14.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/15.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/16.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/17.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/18.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/19.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/20.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/21.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/22.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/23.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/24.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/25.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/26.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/27.jpg"></div>
                              <div class="swiper-slide"><img src="../img/MICRO-EMPRESAS/28.jpg"></div>


                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                    </div>
               </div>

               <!-- Swiper -->
               <div class="netflix-slider">
                    <h2>SOCIAL</h2>
                    <div class="swiper mySwiper">
                         <div class="swiper-wrapper">
                              <div class="swiper-slide"><img src="../img/SOCIALES/1.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/2.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/3.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/4.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/5.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/6.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/7.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/8.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/10.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/11.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/12.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/13.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/14.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/16.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/17.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/18.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/19.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/20.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/21.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/22.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/23.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/25.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/27.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/31.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/32.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/33.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/34.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/35.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/36.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/37.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/38.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/39.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/40.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/41.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/42.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/43.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/44.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/45.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/47.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/48.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/49.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/50.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/51.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/52.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/53.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/54.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/55.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/56.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/57.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/58.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/59.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/60.jpg"></div>
                              <div class="swiper-slide"><img src="../img/SOCIALES/61.jpg"></div>



                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                    </div>
               </div>



          </section>
     </main>

     <!--- SECCION FOOTER -->
     <footer>
          <div class="sociales-metodo">
               <i class="fas fa-map-marker-alt"></i>
               <span>Av. Juárez Ote. No. 204 | San Juan del Río</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-envelope"></i>
               <span>contacto@ipic.com.mx</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-phone"></i>
               <span>427 272 3367</span>
          </div>

          <div class="sociales-metodo">
               <i class="fab fa-facebook-f"></i>
               <span>@preparatoriaipicoficia</span>
          </div>
     </footer>


     <script src="../js/app.js"></script>

     <!-- Swiper JS -->
     <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

     <!-- Initialize Swiper -->
     <script src="../js/main.js"></script>

     <script src="https://kit.fontawesome.com/8023a51753.js" crossorigin="anonymous"></script>
</body>

</html>