<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/Formulario.css">
     <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
     <title>Contacto</title>
</head>

<body>

     <!-- MENU PRINCIPAL -->
     <div class="menu-principal">

          <div class="logo" id="logo">
               <a href="Index.html"><img src="../img/logo3.png" alt="Logo"></a>
          </div>

          <div class="menu-bar" id="menuBar">

               <i class="fas fa-angle-right" id="btnMenuClose"></i>

               <nav class="enlaces" id="enlaces">
                    <ul>
                         <li><a href="Carreras.html">SERVICIOS EDUCATIVOS</a></li>
                         <li><a href="QuieneSomos.html">Nosotros</a></li>
                         <li><a href="Formulario.html">Contacto</a></li>
                         <li><a href="https://sites.google.com/view/ipicnews/inicio" target="blank_">Periodico mural</a></li>
                    </ul>
               </nav>

               <div class="sociales">
                    <a href="https://www.facebook.com/preparatoriaipicoficial" target="_blank"><span class="fab fa-facebook"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.youtube.com/channel/UCCX8ougHeKPwSP4oma9WXpQ" target="_blank"><span class="fab fa-youtube"></span></a>
               </div>
          </div>

          <i class="fas fa-bars" id="btnMenuOpen"></i>

     </div>
     <h1>!QUEREMOS CONOCER TU OPINIÓN, CONTÁCTANOS!</h1>

     <main>


          <article>
               <section id="cont-img">
               </section>

               <section id="contacto">
                    <form id="formulario"  action="https://formspree.io/f/meqvyppz" method="POST">
                         <div class="two-fiels">
                              <div class="inputConIcon">
                                   <input type="text" id="nombre" name="nombre" class="input-text"
                                        placeholder="Escribe tu nombre">
                                   <i class="fas fa-user"></i>
                              </div>

                              <div class="inputConIcon">
                                   <input type="email" id="email" name="email" class="input-email"
                                        placeholder="Escribe tu email">
                                   <i class="fas fa-envelope"></i>
                              </div>
                              <div class="inputConIcon">
                                   <input type="tel" id="tel" name="tel" class="input-text"
                                        placeholder="Escribe tu telefono">
                                   <i class="fas fa-phone-alt"></i>
                              </div>
                              <div class="inputConIcon">
                                   <input type="text" id="text" name="text" class="input-text"
                                        placeholder="Escribe tu asunto">
                                   <i class="fas fa-bookmark" id="book"></i>
                              </div>
                         </div>


                         <div class="fiels">
                              <div class="inputConIcon textareaIcon">
                                   <textarea name="comentarios" id="comentarios" class="textarea"
                                        placeholder="Escribenos tu mensaje.."></textarea>
                                   <i class="fas fa-comments"></i>
                              </div>
                         </div>

                         <div class="fiels-btn">
                              <input type="submit" id="button"></input>
                         </div>
                    </form>

                    
               </section>

          </article>

          <section id="response"></section>
     </main>

     <!-- SECCION FOOTER -->
     <footer>
          <div class="sociales-metodo">
               <i class="fas fa-map-marker-alt"></i>
               <span>Av. Juárez Ote. No. 204 | San Juan del Río</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-envelope"></i>
               <span>contacto@ipic.com.mx</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-phone"></i>
               <span>427 272 3367</span>
          </div>

          <div class="sociales-metodo">
               <i class="fab fa-facebook-f"></i>
               <span>@preparatoriaipicoficia</span>
          </div>
     </footer>

     <script src="../js/app.js"></script>
     <script src="../js/server.js"></script>
     <script src="https://kit.fontawesome.com/8023a51753.js" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>