<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/style.css">
     <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <title>IPIC</title>
</head>

<body>

     <!-- MENU PRINCIPAL -->
     <div class="menu-principal">

          <div class="logo" id="logo">
               <a href="Index.html"><img src="../img/logo3.png" alt="Logo"></a>
          </div>

          <div class="menu-bar" id="menuBar">

               <i class="fas fa-angle-right" id="btnMenuClose"></i>

               <nav class="enlaces" id="enlaces">
                    <ul>
                         <li><a href="Carreras.html">SERVICIOS EDUCATIVOS</a></li>
                         <li><a href="QuieneSomos.html">Nosotros</a></li>
                         <li><a href="Formulario.html">Contacto</a></li>
                         <li><a href="https://sites.google.com/view/ipicnews/inicio" target="blank_">Periodico mural</a></li>
                    </ul>
               </nav>

               <div class="sociales">
                    <a href="https://www.facebook.com/preparatoriaipicoficial" target="_blank"><span class="fab fa-facebook"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.youtube.com/channel/UCCX8ougHeKPwSP4oma9WXpQ" target="_blank"><span class="fab fa-youtube"></span></a>
               </div>
          </div>

          <i class="fas fa-bars" id="btnMenuOpen"></i>

     </div>

     <main>

     <article class="slider">
          <div class="swiper mySwiper">
               <div class="swiper-wrapper">

                    <div class="swiper-slide">
                         <img src="../img/fondo-ipic4.jpg" alt="fondo-carrusel">
                         <h2>Computación</h2>
                         <p>En esta especialidad, obtendrás conocimientos de informatica como lo es la robotica, diseño grafico, etc.</p>
                         <a class="btn-link" href="Computacion.html">Ver carrera</a>
                    </div>

                    <div class="swiper-slide">
                         <img src="../img/IMAGENES PÁGINA/Sin título-5.jpg" alt="fondo-carrusel" class="img-type-height-alt">
                         <h2>Ejecutivo bilingue</h2>
                         <p>En esta especialidad, obtendrás conocimientos administrativos de empresas nacionales e internacionales</p>
                         <a class="btn-link" href="Secretariado.Html">Ver carrera</a>
                    </div>

                    

                    <div class="swiper-slide">
                         <video src="../Video/computación.mp4" controls autoplay muted loop> </video>
                    </div>
     
                    <div class="swiper-slide">
                         <video src="../Video/ejecutivo.mp4" controls autoplay muted loop></video>
                    </div>
               
               </div>

               <div class="swiper-button-next"></div>
               <div class="swiper-button-prev"></div>
               <div class="swiper-pagination"></div>
          </div>
     </article>

     <article id="container1">

          <div class="info">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="50px" class="mb-3 group-hover:text-sky-300">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
               </svg>
               <h2>Proyectos reales</h2>
               <p>Contruirás proyectos que no solo te permitirán incursionar en el mundo del
               desarrollo de software trabajando para una empresa, sino que también te serviran para emprender
               algún negocio.</p>
          </div>

          <div class="info">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="50px" class="mb-3 group-hover:text-sky-300">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"></path>
               </svg>
               <h2>Desarrollo integral</h2>
               <p>Desarrollarás varias áreas fundamentales de tu vida. Primeramente tu
               crecimiento profesional, luego, tu desarrollo personal y social (habilidades blandas) y
               finalmente el desarrollo de tu pensamiento crítico (Adquirir una filosofía de vida).</p>
          </div>

     </article>


     <article id="container6">
          <h2>Especialidades disponibles</h2>
          <p>El conocimiento siempre está cambiando. Lo que permanece constante son las ganas de aprender. Aprovecha y aprende algo nuevo hoy!</p>
     </article>

     <article id="container7">
          <section class="cards-especialidades">
               <img src="../img/COMPUTACION/computacion1.jpg" alt="computacion-image">
               <div class="especialidad-info">
                   <h2>Computación</h2>
                   <h3>Bachillerato</h3>
                   <p>Ideal para todo tipo de personas que deseen aprender sobre el mundo de la informatica, aprenderás a realizar todo tipo de medios publicitarios como: carteles, volantes, revistas, periódicos, edición de videos, hasta crear sitios web profesionales</p>
                   <a href="Computacion.html">+ Horarios y otros detalles de la especialidad</a> 
               </div>
          </section>

          <section class="cards-especialidades">
               <img src="../img/ejecutivo.jpg" alt="ejecutivo-image">
               <div class="especialidad-info">
                    <h2>Ejecutivo bilingue</h2>
                    <h3>Bachillerato</h3>
                    <p>Para quienes desean ser asistentes administrativos, asistentes ejecutivos, profesionales administrativos, secretarias ejecutivas, coordinadoras y todos los que deseen conocer las habilidades de toma de decisiones en una empresa.</p>
                    <a href="Secretariado.Html">+ Horarios y otros detalles de la especialidad</a> 
                </div>
          </section>
     </article>
    
    
     <article id="container4">
          <h2>¿PORQUE IPIC?🤔</h2>
          <p>Al unirte a nosotros, tendras ciertas ventajas constructivas que te ayudaran a crecer, como:</p>
     </article>

     <article id="container5"> 
          <div class="info">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="50px" class="mb-3 group-hover:text-purple-300">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"></path>
               </svg>
               <h2>Plataforma en linea</h2>
               <p>Durante el periodo que estes con nosotros tendras acceso a nuestra plataforma estudiantil,
               donde podras ver tus materias, subir tus actividades, la plataforma
               es apta para estudiantes, maestros y padres de familia.    
               </p>
               <a href="https://ipic.aulaescolar.net" target="_blank">Plataforma</a>
          </div>

          <div class="info">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="50px" class="mb-3 group-hover:text-violet-400">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
               </svg>
               <h2>Eventos</h2>
               <p>Al estar con nosotros participaras en varios eventos que tiene prepara la institución para ti,
               tales como: viajes a six flaxs, eventos culturales, desfiles, y eventos sociales que se hacen a lo
               largo del periodo estudiantil.
               </p>
               <a href="Eventos.html">Eventos</a>
          </div>

          <div class="info">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="50px" class="mb-3 group-hover:text-purple-500">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
               </svg>
               <h2>Comunidad</h2>
               <p>Como alumno de la institucion podras unirte a las comunidades estudiantiles y a la comunidad de la
               institucion, como lo es el grupo de Facebook, canal de youtube, etc
               </p>
               <a href="https://www.facebook.com/preparatoriaipicoficial" target="_blank">Comunidad</a>
          </div>

          <div class="info">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="50px" class="mb-3 group-hover:text-purple-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
               </svg>
               <h2>Bolsa de trabajo</h2>
               <p>Desarrollarás varias áreas fundamentales de tu vida. Primeramente tu
               crecimiento profesional, luego, tu desarrollo personal y social (habilidades blandas) y
               finalmente el desarrollo de tu pensamiento crítico (Adquirir una filosofía de vida).</p>
               <a href="Vinculacion.html">Vinculación</a>
          </div>

     </article>
     

     <article id="container2">
          <h2>Nuestra forma de trabajo</h2>
          <p>En la Preparatoria ipic podras tomar la Carrera de Bachillerato en Ejecutivo Bilingue o la carrera de
          Bachillerato con Especialidad en Computación💻</p>
          <p>Durante las tardes podras tomar las clases curriculares que tenemos preparadas😉</p>
     </article>

     <article id="container3">
          <section class="cards">
               <img src="../img/vespertino.jpg" alt="vespertino-image">
               <div class="card-info">
                    <h2>Turno Vespertino🌕</h2>
                    <h3>1:00 P.M a 6:30 P.M</h3>
                    <p>El turno vespertino aplica desde 5° semestre hasta 6° Semestre, durante la mañana podrás
                    dedicarte al servicio social y a las practicas profesionales. 😉</p>
               </div>
          </section>

          <section class="cards">
               <img src="../img/matutino.jpg" alt="matutino-image">
               <div class="card-info">
                    <h2>Turno Matutino☀️</h2>
                    <h3>7:30 A.M a 1:00 P.M</h3>
                    <p>El turno matutino aplica desde el 1° Semestre hasta el 4° Semestre, durante el dia podras
                    tomar clases curriculares como: animación, musica, etc. 😉</p>
               </div>
          </section>
     </article>

     

     <article id="container8">
          <section>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.999885656722!2d-99.99115664886538!3d20.38289458628485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d30b7e7be87d9d%3A0x8a7a02c5e6838eea!2sPREPARATORIA%20IPIC!5e0!3m2!1ses-419!2smx!4v1637022848608!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </section>
          <section>
               <h2>Ubicacion</h2>
               <p>Av. Benito Juárez Ote. 204, Centro, 76800 San Juan del Río, Qro.</p>
               <h2>Telefono</h2>
               <p>427 272 33 67</p>
               <h2>Correo</h2>
               <p>contacto@ipic.com.mx</p>
          </section>
     </article>

     </main>

     <!--- SECCION FOOTER -->
     <footer id="footer">
          <div class="sociales-metodo">
               <i class="fas fa-map-marker-alt"></i>
               <span>Av. Juárez Ote. No. 204 | San Juan del Río</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-envelope"></i>
               <span>contacto@ipic.com.mx</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-phone"></i>
               <span>427 272 3367</span>
          </div>

          <div class="sociales-metodo">
               <i class="fab fa-facebook-f"></i>
               <span>@preparatoriaipicoficia</span>
          </div>
     </footer>

     <script src="../js/app.js"></script>
     <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
     <script src="../js/swiper.js"></script>
     <script src="../js/swiper-librery.js"></script>
     <script src="../js/libreria.js"></script>
     <script src="https://kit.fontawesome.com/8023a51753.js" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

</html>